@font-face {
  font-family: 'Outfit-Black';
  src: url('../font/Outfit-Black.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit-Bold';
  src: url('../font/Outfit-Bold.ttf');
}

@font-face {
  font-family: 'Outfit-ExtraBold';
  src: url('../font/Outfit-ExtraBold.ttf');
}

@font-face {
  font-family: 'Outfit-ExtraLight';
  src: url('../font/Outfit-ExtraLight.ttf');
}

@font-face {
  font-family: 'Outfit-Light';
  src: url('../font/Outfit-Light.ttf');
}

@font-face {
  font-family: 'Outfit-Medium';
  src: url('../font/Outfit-Medium.ttf');
}

@font-face {
  font-family: 'Outfit-Regular';
  src: url('../font/Outfit-Regular.ttf');
}

@font-face {
  font-family: 'Outfit-SemiBold';
  src: url('../font/Outfit-SemiBold.ttf');
}

@font-face {
  font-family: 'Outfit-Thin';
  src: url('../font/Outfit-Thin.ttf');
}


html {
  font-size: 100%;
}

/*16px*/
body {
  background: white;
  font-family: 'Outfit-Black', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;

  p {
    margin-bottom: 1rem;
  }

  h1, h2, h3, h4, h5 {
    margin: 3rem 0 1.38rem;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    line-height: 1.3;
  }

  h1 {
    margin-top: 0;
    font-size: 3.052rem;
  }

  h2 {
    font-size: 2.441rem;
  }

  h3 {
    font-size: 1.953rem;
  }

  h4 {
    font-size: 1.563rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  small, .text_small {
    font-size: 0.8rem;
  }

  header {
    font-family: 'Outfit-Regular', sans-serif;
    margin-top: 5px;

    nav {
      #navbarSupportedContent {
        justify-content: center;
        align-items: center;
        align-self: center;
        margin-top: 15px;

        .nav-item {
          padding-left: 1.5rem !important;
          padding-right: 1.5rem !important;
          font-size: 0.8rem;

          a {
            color: #868686;
            text-decoration: none;

            &:hover {
              color: #1E3C6B;
            }
          }

        }

        li.active {
          a {
            color: #1E3C6B;
            font-weight: bold;

            &::after {
              content: '.';
              color: #1E3C6B;
              font-weight: bold;
              display: block;
              text-align: center;
              margin-top: -25px;
              font-size: 1.6rem;
            }
          }
        }
      }

      .navbar-brand {
        margin-top: -4px;

        img {
          width: 50px;
        }

        h5 {
          display: inline;
          font-weight: bold;
          color: #1E3C6B;
          font-size: 1rem;
          letter-spacing: 5px;
          margin-left: 25px;
        }
      }
    }
  }

  .fix-menu {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    margin-top: 0;
    max-width: 100%;
    box-shadow: #c9c9c9 0 0 5px 2px;
    padding: 0 10%;
    transition: .3s;

    .navbar {
      padding: 3px 0;
    }
  }

  .main {

    .sec1 {
      padding: 0;
      margin: 50px 0 0;

      .box1 {
        text-align: center;
        margin: auto;

        .text-image {
          width: 66%;
        }

        .box-image {
          margin-left: -60px;
          width: 130px;
          margin-top: 8px;
        }

        h1 {
          font-family: 'Outfit-Black';
          font-size: 3.552rem;
          margin-top: -75px;
          word-spacing: 20px;

          & + h1 {
            margin-top: -25px;
          }

          span {
            color: #A5E9FF;
          }
        }
      }

      .box2 {
        text-align: center;
        margin: 50px auto auto;

        .box-image {
          position: absolute;
          left: 17%;
          width: 14%;
          margin-top: -65px;
        }
      }
    }

    .sec2 {
      background-color: #F7FAFF;
      justify-content: center;
      margin: 80px auto auto;
      padding: 75px 0;

      .box1 {
        text-align: center;
        margin: auto;

        .text-image {
          width: 300px;
        }

        h3 {
          font-family: 'Outfit-Black';
          margin-top: -15px;

          span {
            color: #A5E9FF;
          }
        }
      }

      .box2 {
        font-family: 'Outfit-Regular', sans-serif;
        text-align: justify;
        font-size: .9rem;

        p {
          margin-top: 20px;
          line-height: 2.5;
        }
      }

      .box3 {
        text-align: center;

        img {
          vertical-align: text-top;
          margin: 0px 5px;
          width: 18%;

          &:nth-child(2) {
            width: 58%;
          }
        }

      }
    }

    .sec3 {
      justify-content: center;
      margin: 95px auto auto;

      .box1 {
        text-align: center;
        margin: auto;

        .text-image {
          width: 420px;
        }

        h3 {
          font-family: 'Outfit-Black';
          margin-top: -15px;

          span {
            color: #A5E9FF;
          }
        }
      }

      .box2 {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin-bottom: 55px;
        margin-top: 35px;

        img {
          width: 52%;
          margin-right: 12px;
        }

        div {
          width: 45%;

          h4 {
            font-family: 'Outfit-Black';
            margin-bottom: -40px;
            font-size: 1.43rem;

            & + h4 {
              margin-bottom: 0px;
            }

            span {
              color: #A5E9FF;
            }
          }

          p {
            font-family: 'Outfit-Regular', sans-serif;
            text-align: justify;
            font-size: .9rem;
            margin-top: 20px;
            line-height: 2;
          }
        }
      }

      .box3 {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin-bottom: 55px;

        img {
          width: 45%;
        }

        .box-image {
          width: 200px;
          position: absolute;
          right: 0;
        }

        div {
          width: 52%;
          margin-right: 12px;
          padding-right: 30px;

          h4 {
            font-family: 'Outfit-Black';
            margin-bottom: -40px;
            font-size: 1.43rem;

            & + h4 {
              margin-bottom: 0px;
            }

            span {
              color: #A5E9FF;
            }
          }

          p {
            font-family: 'Outfit-Regular', sans-serif;
            text-align: justify;
            font-size: .9rem;
            margin-top: 20px;
            line-height: 2;
          }
        }
      }

      .box4 {
        display: flex;
        flex-wrap: wrap;
        padding: 0;

        img {
          width: 52%;
          margin-right: 12px;
        }

        div {
          width: 45%;

          h4 {
            font-family: 'Outfit-Black';
            margin-bottom: -40px;
            font-size: 1.43rem;

            & + h4 {
              margin-bottom: 0px;
            }

            span {
              color: #A5E9FF;
            }
          }

          p {
            font-family: 'Outfit-Regular', sans-serif;
            text-align: justify;
            font-size: .9rem;
            margin-top: 20px;
            line-height: 2;
          }
        }

      }
    }

    .sec4 {
      justify-content: center;
      margin: 100px auto auto;

      .box1 {
        text-align: center;
        margin: auto;

        .text-image {
          width: 350px;
        }

        .box-image {
          width: 200px;
          position: absolute;
          left: 0;
          margin-top: -60px;
        }

        h3 {
          font-family: 'Outfit-Black';
          margin-top: -25px;

          span {
            color: #A5E9FF;
          }
        }
      }

      h5 {
        font-family: 'Outfit-Black';
        margin: 35px 0 -5px;
      }

      p {
        font-family: 'Outfit-Regular', sans-serif;
        text-align: justify;
        font-size: .8rem;
        margin-top: 20px;
        line-height: 2;
      }

      .box2, .box3, .box4, .box5, .box6, .box7 {
        padding: 20px;
        margin: 0 20px;

        &:hover {
          box-shadow: #c9c9c9 0 0 20px -4px;
        }

        img {
          width: 45px;
        }
      }
    }

    .sec5 {
      background-color: #F7FAFF;
      justify-content: center;
      margin: 50px auto auto;
      padding-bottom: 50px;
      .box1 {
        text-align: center;
        margin: 90px auto auto;

        .text-image {
          width: 350px;
        }

        .box-image {
          width: 200px;
          position: absolute;
          left: 0;
          margin-top: -60px;
        }

        h3 {
          font-family: 'Outfit-Black';
          margin-top: -25px;

          span {
            color: #A5E9FF;
          }
        }
      }

      h5 {
        font-family: 'Outfit-Black';
        margin: 35px 0 -5px;
      }

      p {
        font-family: 'Outfit-Regular', sans-serif;
        text-align: center;
        font-size: .9rem;
        margin-top: 20px;
        line-height: 2;

      }

      .box2{
        justify-content: center;
        padding: 0 40px;
        width: 100%;
        margin: 0;
        padding: 0;
        margin-top: 90px;
        ul{
          list-style-type: none;
          padding: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 70%;
          margin: auto;
          margin-bottom: -65px;
          li{

          }
          .next,.prev{
            background: #a5e9ff;
            border-radius: 10px;
            z-index: 10;
            cursor: pointer;
            img{
              padding: 4px
            }
          }
          .line{
            flex-grow: 1;
            height: 1px;
            background-color: #dcdfe4;
          }
        }
        .slick-slider .slick-track, .slick-slider .slick-list {
          padding: 0px 0px!important;
        }
        .details{
          display: none;
        }
        .box-slider{
          margin-top: 18px;
          &>div{
            margin-top: 5px;
          }
        }
        &>div{
          width: 63%;
          min-width: 63%;
          max-width: 63%;
          margin: auto;
          padding-left: 45px;
          img{
            width: 65px;
            height: 65px;
            border-radius: 25px;
          }
        }
        .slick-slider{
        }
        .slick-current{
          .box-slider{
            margin-top: 0;
            margin-left: -18px;
          }
          img{
            width: 100px;
            height: 100px;
            border-radius: 35px;
            border: 2px solid #1e3c6b;
          }
          .details{
            display: block;
            position: relative;
            top: 0;
            left: -225px;
            margin-top: -5px;
            width: 540px;
            text-align: center;
            z-index: 100;
            font-family: 'Outfit-Regular', sans-serif;
            h5{

            }
            span{
              font-size: 0.9rem;
              margin-top: 10px;
              display: block;
            }
            p{
              text-align: center;
              font-size: .8rem;
              margin-top: 15px;
              line-height: 2;
            }
          }
        }
      }

    }

  }

  footer {
    font-family: 'Outfit-Regular', sans-serif;
    background-color: #081a37;
    color: #ffffff;
    justify-content: center;
    padding: 65px 0 10px;
    margin: 0 !important;

    .box1 {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      span {
        color: #bbbbbb;
        font-size: .9rem;
      }

      & > div:nth-child(1) {
        margin: 0 50px;

        & > a {
          display: flex;
          text-decoration: none;
          color: white;
          align-items: center;
          margin-bottom: 35px;

          img {
            width: 75px;
          }

          h5 {
            font-size: 1.3rem;
            letter-spacing: 5px;
            margin: 0px 15px;
          }
        }

        ul {
          display: flex;
          list-style-type: none;
          padding: 0;

          li {
            margin-right: 10px;

            img {
              width: 22px;
            }
          }
        }
      }

      & > div:nth-child(2), & > div:nth-child(3) {
        margin: 0 20px;

        ul {
          list-style-type: none;
          padding: 0;

          li {
            a {
              text-decoration: none;
              color: white;
              font-size: .8rem;
              line-height: 3;
            }
          }
        }
      }
    }

    .box2 {
      p {
        float: right;
        font-size: .8rem;
        margin-top: 50px;
      }
    }
  }
}

/*
Responsive
 */


@media (min-width: 1200px) and (max-width: 2000px) {

}

@media (min-width: 901px) and (max-width: 1200px) {

}

@media (min-width: 801px) and (max-width: 900px) {

}

@media (min-width: 401px) and (max-width: 500px) {

}

@media (min-width: 321px) and (max-width: 400px) {

}

@media (max-width: 320px) {

}

